<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>群体活动照片分享系统</title>
  <link rel="shortcut icon" href="/static/images/favicon.ico" >
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">  
  <link rel="stylesheet" href="/static/css/local.css">
  <link href='http://api.youziku.com/webfont/CSS/568b6fb2f629d80a10ae5ff1' rel='stylesheet' type='text/css'>
  <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>

<body>
<header class="main_header">
<div class="header_cover">

<nav class="navbar navbar-fixed-top navbar_bg" role="navigation">

    <div class="navbar-header header_text">
      <button type="button" class="navbar-toggle navbar_padding" data-toggle="collapse" 
         data-target="#navbar-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand col-xs-9 col-sm-12 title" href="/">
        群体活动照片分享系统
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right navbar_ul">
        <li class="active">
            <a  class="nav_a" href="/upload">
            <div class="nav_icon">上传
            </div>
            </a>
        </li>
        {% if user_Email %}
        <li>
            <a class="nav_a" href="/photo_manage">
                <div class="nav_icon">{{user_Email}}</div>
            </a>
        </li>
        <li class="nav_li_login">
            <a class="nav_a nav_a_login" href="/accounts/logout">
            <div class="login">退出登录</div>
            </a>
        </li>
        {% else %}
        <li>
            <a class="nav_a" href="/accounts/register">
            <div class="nav_icon">注册</div>
            </a>
        </li>
        <li class="nav_li_login">
            <a class="nav_a nav_a_login" href="/accounts/login">
            <div class="login">登录</div>
            </a>
        </li>
        {% endif %}
        </ul>
    </div>
</nav>

<div class="container col-xs-12 header_center">
<div class="row f-trans">
        
    <form class="form-inline form_text_align" role="form" id="search" name="search" action="/" method="POST">
    {% csrf_token %}
            <input type="text" id="search_word" class="form-control search_input" name="search_word" value="奥运会">
            <button type="submit" id="search_button" class="btn btn-lg btn-primary search_button">搜索</button>
    </form>
    <div class="row face_search_row">
        <a href="/face">
        <button class="btn btn-lg btn-primary search_button">人脸搜索</button>
        </a>
    </div>
</div>
</div>  

</div>
</header>
<section id="content" class="container">
    <div class="row">
    {% block menu %}
        <div class="col-xs-12 col-sm-2 menu">
            <h4 class="latest_tags">
            最近标签：
            <br>
            </h4>
            
            <div class="tag_labels">
            {% block latest_tags %}
                {% for each_tag in latest_tags_list %}
                <label>
                <a class="label label-default box_shadow" href="/tag/?search_word={{each_tag}}">{{each_tag}}</a>
                </label><br>
                {% endfor %}
            {% endblock %}
            </div>
        </div>
    {% endblock %}
    
        <div class="col-xs-12 col-sm-10 right">
            
            {% block content %}
            {% endblock %}
            
        </div>
    </div>
</section>


<footer id="footer">
	Powered by 
	<a href="/">Aiwen Li</a>
</footer>

</body>
<script>
function searchJS(innerText)
{
    document.getElementById("search_word").value=innerText;
    document.getElementById("search_button").click();
}
</script>
</html>
