<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head id="head">
	<!--
	<script src="http://lib.sinaapp.com/js/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	-->
	<link rel="stylesheet" href="http://lib.sinaapp.com/js/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="./index_statics/local.css">
	<title>HTMLLearning</title>
</head>

<body>
<div id="header">
<ul>
	<li class="headerlist head_text">
		<h1>群体活动照片分享系统</h1>
	</li>
	<li class="headerlist search">
		<input type="text" class="input">
		<input type="submit" class="submit" value="搜索">
	</li>
	<li class="headerlist register">
		<p>注册</p>
	</li>
	<li class="headerlist login">
		<p>登录</p>
	</li>
</ul>	
</div>



<div id="content">
	
	<div class="menu">
		<ul>
			<li>Menu</li>
			<li>Menu</li>
			<li>Menu</li>
			<li>Menu</li>
		</ul>
	</div>
	<div class="photos">
	<ul class="photo_list">
		<li class="photo_display">
			<img src="http://www.w3school.com.cn/i/site_photoref.jpg">
		</li>
		<li class="photo_display">
			<img src="http://www.w3school.com.cn/i/site_photoref.jpg">
		</li>
		<li class="photo_display">
			<img src="http://www.w3school.com.cn/i/site_photoref.jpg">
		</li>
		<li class="photo_display">
			<img src="http://www.w3school.com.cn/i/site_photoref.jpg">
		</li>
		<li class="photo_display">
			<img src="http://www.w3school.com.cn/i/site_photoref.jpg">
		</li>
		<li class="photo_display">
			<img src="http://www.w3school.com.cn/i/site_photoref.jpg">
		</li>
		<li class="photo_display">
			<img src="http://www.w3school.com.cn/i/site_photoref.jpg">
		</li>
		<li class="photo_display">
			<img src="http://www.w3school.com.cn/i/site_photoref.jpg">
		</li>
	</ul>
	</div>
</div>
<div id="footer">
	Powerd by 
	<a href="">Li Aiwen</a>
</div>
</body>

</html>
