{% extends "base.html" %}
{% block content %}
{% block menu %}
{% endblock %}
	<div class="photo_detail">
    <div class="co-xs-12 col-sm-7 dtl_image">
        <img class="photo_display" src={{photo_info.original_url}}>
    </div>
    <div class="col-xs-12 col-sm-3 dtl_right">
        <div class="dtl_tags">
            <label>
            <p>标签:</p>
            </label>
            {% for each_tag in photo_info.tag_list %}
                <label>
                    <a class="dtl_tag_a" href="/tag/{{each_tag}}">{{each_tag}}</a>
                </label>
            {% endfor %}
        </div>
        <button type="button", class="btn" data-toggle="collapse" data-target="#add">添加标签</button>
        <div id="add"class="collapse">
            <form id="add_tag" action="/addTag/"  method="get" enctype="multipart/form-data">
                {% csrf_token %}
                <input id="tag" name="tag" type="text">
                <input id="p_id" name="p_id" type="hidden" value={{photo_info.p_id}}>
                <input id="tag_submit" class="btn" type="button" value="添加">
            </form>
        </div>
        <div class="dtl_description">
            描述：{{photo_info.description}}
        </div>
        <div class="dtl_description">
            上传：{{photo_info.owner}}
        </div>
    </div>
	</div>
</div>
{% endblock %}
