{% extends "base.html" %}
{% block content %}
{% block menu %}
{% endblock %}
	<div id="upload_photos">
		
		<br class="clearfloat">
		<form id="upload_form" name="upload" action="/upload/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input id="file_choose" type="file" name="photoFile" name="image">
            <div id="tag_div">
                <input id="tag1" class="tag_text" name="tag" type="text" value="标签">
                多个标签用符号“、”分隔
            </div>
            <textarea id="description" name="description">描述</textarea>
            <input id="submit_button" type="submit" value="上传">
            <input id="reset_button" type="reset" value="重置">
        </form>
	</div>
{% endblock %}