html
{
}
.clearfloat
{
clear:both;
height:0;
}
#header
{
overflow:hidden;
background-color:#333;
}
.headerlist
{
display:inline-block;
}
.head_text
{
color:#66ccff;
width:450px;
float:left;
cursor:pointer;
}
.register
{
float:right;
padding-top:25px;
padding-right:20px;
color:#ddd;
}
.login
{
float:right;
padding-top:25px;
padding-right:15px;
color:#ddd;
}
.search
{
float:left;
padding-top:25px;
padding-left:20px;
}
.input
{
}
#content
{
overflow:hidden;
clear:both;
background-color:#555;
}

.menu
{
clear:both;
width:150px;
float:left;
color:#66ccff;
}
.latest_tags
{
margin-top:10px;
}
.photos
{
margin-left:155px;
height:auto;
background-color:#f0f0f0;
text-align:center;
min-height:500px;
}
.upload
{
float:left;
padding-top:25px;
padding-left:25px;
padding-right:25px;
overflow:hidden;
}
.upload_href
{
    color:#66ccff;
}
.choose_button
{
float:left;
display:none;
}
.upload_button
{
float:left;
}
.upload_link
{
    float:left;
    padding-left:25px;
    padding-right:25px;
    padding-top:25px;
}
.photo_list
{
margin-bottom:0;
}
.photo_display
{
display:inline-block;
margin-top:35px;
margin-bottom:35px;
margin-right:35px;
height:190px;
width:20%;
overflow:hidden;
}
.photo_display img
{
max-height:150px;
max-width:100%;
overflow:hidden;
margin-bottom:5px;
position:relative;
width:200px; 
margin:0 auto;
}
.tags_of_photo
{
    width:100%; 
    text-align:center; 
    line-height:24px; 
    position:absolute; 
    background-color:#CCC;
    z-indent:2;
    left:0;
    bottom:0;
    margin:0 auto;
    background:rgba(255, 255, 255, 0.6) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/        
    filter:Alpha(opacity=60); background:#fff;/*实现IE背景透明*/
}
.display_description
{
background-color:#E2E0D3;
margin-bottom:5px;
}
#footer
{
text-align:center;
width:100%;
background-color:#ffffff;
bottom:10px;
}


/* upload.html */

#upload_photos
{   
margin-left:155px;
height:auto;
background-color:#f0f0f0;
text-align:center;
min-height:500px;
}
#upload_form
{
    position:absolute;
    margin-left:550px;
}
#file_choose
{
    float:left;
    margin-bottom:10px;
}
#submit_button
{
    clear:both;
    float:left;
}
#reset_button
{
    float:left;
    margin-left:40px;
}
#description
{
    margin-bottom:10px;
    clear:both;
    float:left;
    height:120px;
}
.tag_text
{
    float:left;
    width:60px;
    margin-bottom:10px;
}
#tag_div
{
    clear:both;
}